
@media screen and (max-width: 599px) {
  .CPageContainer.is-searchActiveMobile .CLayout-contentOuter {
    top : 111px;
  }

  .CHeader .MainSearchField-label,
  .CPreHeader .CPreHeader-searchIcon {
    display : none;
  }

  .CHeader .MainSearch {
    background : rgb(11, 75, 127);
    display : flex;
  }

  .CHeader .MainSearchField {
    padding : 0px;
  }

  .CHeader .MainSearchField .MAutoCompleteField input {
    height : 40px;
    padding : 20px;
  }

  .CHeader .MainSearch .MainSearch-buttonWrapper {
    height : 30px;
  }

  .CHeader .is-openMobile .CHeaderSearch-outer
   {
    padding : 0px 0px 10px 0px;
    background : rgb(11, 75, 127);
  }

  .CHeader .MainSearch .MainSearch-button {
    line-height : 19px;
  }

  .CHeaderSearch .MainSearchField--keyword .MAutoCompleteField-suggestions {
    top: 101px;
    width: calc(100vw - 20px);
  }

}
